* {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
}


.home {
  height: 100vh;
  margin-top: 50px;
}

.about {
  height: 100vh;
  background-color: #de1717;
}

.shows {
  height: 100vh;
}

.contact {
  height: 100vh;
  background-color: #de1717;
}

.logo {
  width: 50px;
}

